header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  background-color: aquamarine;
  width: 150px;
}

.header-middle {
  background-color: antiquewhite;
  flex: 1;
  margin-left: 70px;
  max-width: 500px;
}

.header-right {
  background-color: aquamarine;
  width: 200px;
}
